<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a simple to do list to learn the functionality of MongodB, Mongoose, Express, Node, and Javascript!</p>

<%- include("footer") -%>
